/* Enter your custom styles here */
.vbox-class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hbox-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    
}

.bold-class {
    font-weight: bold;
    font-size: large;
    margin-right: 10px;
    color: black;
}

.text-class {
    margin-left: 10px;
    margin-top: 2px;
    color: rgb(75, 22, 162);
}
.imgg{
    border-radius: 10px;
    border-top: solid black 3px;
    margin-bottom: 10px;
}
.formm {
    /* margin: 20px; */
    color: blue;
    padding: 15px;
    background-color: #e9ebe1;
    border-radius: 7px;
}

.sapMList {
    margin: 10px;
}



.sapMObjectListItem {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.sapMObjectAttribute {
    margin: 5px 0;
}
.sapMObjectStatus {
    margin-top: 10px;
}
.suppClass{
    padding-top:10px;
    padding-right: 3px;
    padding-left: 30px;
    text-shadow: 2px 2px 2px rgb(151, 220, 234);
    /* margin-top: 10px; */
}
.text-class vng{
    margin-top: 5px;
}